<div class="container">
    <h1 class="mb-3 h6 mt-3">Video E-Ibu Cerdas</h1>

    <input type="text" id="searchInput" class="form-control mb-3"
        placeholder="Cari video...">

    <div id="videoList">
        {{#each videos}}
        <div class="mt-2 mb-2video-card p-2" style="border-bottom: 1px solid #eee;">
            <div class="row align-items-center">
                <div class="col-5 col-md-4 ms-0 ps-0">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/{{videoId}}"
                            title="{{title}}" allowfullscreen
                            style="border-radius:8px;"></iframe>
                    </div>
                </div>

                <div class="col-7 col-md-8">
                    <h6 class="card-title text-dark mb-1" style="margin-bottom: 12px;font-size:13.5px;">{{title}}</h6>
                    <small class="text-muted d-block mb-2" style="font-size: 12px;">
                        Dipublikasikan: {{formatDate pubDate}}
                    </small>
                    <a href="{{link}}" target="_blank"
                        class="btn btn-default d-block text-start btn-sm p-0">Tonton di YouTube
                        <i class="bi bi-play"
                            style="position: relative; top:0.5px;"></i></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
